%p#notice= notice
%h1 Blogs
%table
  %thead
    %tr
      %th Domain
      %th Title
      %th Description
      %th Owner
      %th Created
      %th{colspan: 2}

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.domain
        %td= blog.title
        %td= blog.description
        %td= blog.owner.name
        %td= blog.created_at.localtime.to_formatted_s(:short) 
        %td= link_to pluralize(blog.articles.count, "article"), "#{request.protocol}#{blog.domain}:#{request.port}"
        %td= pluralize(blog.comments.count, "comment")
%br/
= link_to 'New Blog', new_blog_path
