%p#notice= notice
%h1 Blogs
%table
  %thead
    %tr
      %th Domain
      %th Title
      %th Description
      %th Owner
      %th
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.domain
        %td= blog.title
        %td= blog.description
        %td= blog.owner.name
        %td= link_to 'Show', "#{request.protocol}#{blog.domain}:#{request.port}"

%br/
= link_to 'New Blog', new_blog_path
